.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

nodejs/**
logs/**
.prettierignore
.prettierrc
yarn.lock
README_old.md
contribute.md